@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600");
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }
  @media (max-width: 1024px) {
    .container {
      max-width: 960px; } }
  @media (max-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (max-width: 426px) {
    .container {
      padding-left: 15px;
      padding-right: 15px;
      max-width: 426px; } }
  @media (max-width: 375px) {
    .container {
      padding-left: 15px;
      padding-right: 15px;
      max-width: 375px; } }

@keyframes scaleAnim {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif; }
  * body {
    background: #1a191f; }
    * body .__wrap_list_film {
      margin: 150px 0; }
      * body .__wrap_list_film .__title {
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 0.4px;
        color: #ffffff; }
        * body .__wrap_list_film .__title span {
          font-weight: 300; }
      * body .__wrap_list_film .__list_film {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 60px 30px;
        margin-top: 30px; }
        @media (max-width: 576px) {
          * body .__wrap_list_film .__list_film {
            grid-template-columns: repeat(3, 1fr); } }
        @media (max-width: 426px) {
          * body .__wrap_list_film .__list_film {
            grid-template-columns: repeat(2, 1fr); } }
        @media (max-width: 375px) {
          * body .__wrap_list_film .__list_film {
            grid-template-columns: 1fr;
            grid-gap: 30px; } }
        * body .__wrap_list_film .__list_film .__item .__thumbnail {
          position: relative; }
          * body .__wrap_list_film .__list_film .__item .__thumbnail::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #0000009e;
            display: none;
            transition: 0.4s;
            animation: scaleAnim 0.5s ease; }
          * body .__wrap_list_film .__list_film .__item .__thumbnail:hover::before {
            display: block; }
          * body .__wrap_list_film .__list_film .__item .__thumbnail:hover .overplay {
            display: block; }
          * body .__wrap_list_film .__list_film .__item .__thumbnail img {
            width: 100%;
            height: auto;
            display: block; }
          * body .__wrap_list_film .__list_film .__item .__thumbnail .overplay {
            width: 56px;
            height: 56px;
            position: absolute;
            top: calc(50% - 26px);
            left: calc(50% - 26px);
            background: #ffffff;
            border-radius: 50%;
            display: none;
            animation: scaleAnim 0.5s ease;
            cursor: pointer; }
            * body .__wrap_list_film .__list_film .__item .__thumbnail .overplay img {
              width: 35px;
              height: 35px;
              position: absolute;
              top: calc(50% - 17px);
              left: calc(50% - 17px); }
        * body .__wrap_list_film .__list_film .__item .__info {
          margin-top: 10px; }
          * body .__wrap_list_film .__list_film .__item .__info .__name_film {
            color: #ffffff;
            font-size: 20px;
            line-height: 30px;
            font-weight: 400; }
          * body .__wrap_list_film .__list_film .__item .__info .__category_film {
            font-size: 14px;
            position: relative;
            color: #ffd80e;
            margin-right: 10px;
            opacity: 0.7; }
      * body .__wrap_list_film .__wrap_paginator {
        margin-top: 36px; }
        * body .__wrap_list_film .__wrap_paginator .__paginator {
          list-style-type: none;
          display: flex;
          justify-content: center; }
          * body .__wrap_list_film .__wrap_paginator .__paginator li {
            padding: 15px 25px;
            margin-right: 15px;
            border-radius: 5px;
            border: 1px solid rgba(210, 201, 255, 0.04);
            background: rgba(210, 201, 255, 0.04);
            cursor: pointer; }
            * body .__wrap_list_film .__wrap_paginator .__paginator li:hover {
              border: 1px solid #ffd80e; }
            * body .__wrap_list_film .__wrap_paginator .__paginator li a {
              text-decoration: none;
              color: #ffffff; }

/*# sourceMappingURL=main.css.map */
